<form method="post" action="/home/">
  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal">ログイン</h1>

  <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name">
      <label for="floatingInput">アカウント名</label>
  </div>
  <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">パスワード</label>
  </div>

  <div class="checkbox mb-3">
      <label>
          <input type="checkbox" name="remember-me" value="remember-me"> ログイン状態を保持する
      </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">ログイン</button>
</form>
