{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
                <div class="card-body">
                    <h1 class="h3 mb-4 text-center">タグ作成ページ</h1>
                    <form action="{% url 'create-tag' %}" method="POST" class="form-inline my-2 my-lg-0">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <input class="form-control" type="text" placeholder="create Tag" name="name">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-success" type="submit">タグを作る</button>
                            </div>
                        </div>
                    </form>
                                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
